<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - Library</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text">
                <h1>Books</h1>
                <div class="inside">
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <!-- <th>Description</th> -->
                            <th>Genre</th>
                            <th>Availability</th>
                        </tr>
                        <% book.forEach(function(book) { %>
                            <tr>
                                <td><%= book.title %></td>
                                <td><%= book.author %></td>
                                <!-- <td><%= book.description %></td> -->
                                <td><%= book.genre %></td>
                                <td><%= book.availability ? 'Available' : 'Not Available' %></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
